/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 22, 2023, 10:48:06 PM
    Author     : DELL
*/

.banner-container {
    position: relative;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.hotline-container {
    position: fixed;
    bottom: 16px;
    left: 16px;
    background-color: #7AB730;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.hotline-link {
    color: #ffffff;
    text-decoration: none;
}

.img-fixed-size {
    width: 300px; /* Định rõ chiều rộng */
    height: 200px; /* Định rõ chiều cao */
}
